@use "../../../../styles/abstracts/" as *;

.projectContainer {
  padding: 0 40px 40px;
}

.projectTitle {
  @include heading-3;
  text-align: center;
  margin: 20px;

  @media screen and (min-width: $media-breakpoint-large) {
    text-align: left;
  }
}

.linkContainer {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.projectPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  background-color: $white;
  border: 1px solid $light-cyan;
  border-radius: 10px;

  @media screen and (min-width: $media-breakpoint-large) {
    flex-direction: row;
  }
}

.projectInfo {
  padding: 0 40px 40px;
  flex: 1;
  font-size: 18px;

  @media screen and (min-width: $media-breakpoint-large) {
    padding: 40px;
  }
}

.projectSkills,
.projectLinks {
  padding-top: 20px;
  li {
    display: inline-block;
  }
}

.projectSkills {
  li {
    font-size: 12px;
    padding: 5px 10px;
    background-color: $light-cyan;
    margin: 0 5px 5px 0;
  }
}

.projectLinks {
  li {
    margin: 0 15px 5px 0;
  }
  img {
    height: 30px;
    width: auto;
  }
}
