@use "../../../../styles/abstracts/" as *;

.linkContainer {
  width: 100%;
  max-width: 550px;
  height: auto;
  padding: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.thumbnailImg {
  box-shadow: $common-box-shadow;
  padding: 10px;
}
