@use "../../styles/abstracts/" as *;

.contactSectionContainer {
  margin-bottom: 0;
}

.contactInfo {
  padding: $main-section-info-padding;

  @media screen and (min-width: $media-breakpoint-medium) {
    padding: $main-section-info-padding-desktop;
  }

  h3 {
    @include heading-3;
    text-align: center;
  }
}
