@use "../../styles/abstracts/" as *;

.sectionContainer {
  @include main-section-container;
  height: 100vh;
}

.sectionTitle {
  @include main-section-title;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin: 0 auto 10px;
}

.formButton {
  @include primary-button;
  display: block;
  margin: 25px auto 0;
  max-width: 600px;
  width: 100%;
}

.contactInfo {
  padding: $main-section-info-padding;

  h3 {
    @include heading-3;
    text-align: center;
  }
}

.contactSubsection {
  @include subsection;
}

.contactLinks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }

  a {
    display: block;
    margin: 20px;
  }

  img {
    width: 50px;
    height: auto;
  }
}

.contactForm {
  max-width: 800px;
  background-color: $light-cyan;
  padding: 40px;
  margin: 20px auto;
  border-radius: 10px;
}

.formHint {
  text-align: center;
}
