@use "./variables" as *;

// START LAYOUT MIXINS

@mixin layout-container($padding: $layout-padding) {
  max-width: 1250px;
  margin: 0 auto;
  padding: $padding;
}

@mixin main-section-container {
  background: var(--section-background);
  margin-bottom: 0;
  position: relative;
  z-index: 5;
  margin-bottom: 40px;
}

@mixin main-section-content {
  @include layout-container(30px 0);
  @media screen and (min-width: $media-breakpoint-medium) {
    padding: 30px 50px;
  }
}

@mixin section-info-container {
  padding: 20px 0;
  border-left: 1px solid $teal;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: $bright-teal;
    border-radius: 2px;
    left: -10px;
    position: absolute;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @media screen and (min-width: $media-breakpoint-medium) {
    padding: 20px 20px;
    margin-left: 15px;
  }
}

@mixin subsection {
  padding: 20px;

  @media screen and (min-width: $media-breakpoint-medium) {
    padding: 0 40px 40px 40px;
  }
}

// END LAYOUT MIXINS

// START FORM MIXINS

@mixin text-input {
  border: $input-border;
  background-color: var(--input-background-color);
  color: var(--text-color);
  margin: $input-margin;
  padding: $input-padding;
  border-radius: $input-border-radius;
  height: $input-height;

  &::placeholder {
    color: $input-placeholder-color;
  }
}

@mixin textarea {
  @include text-input;
  height: 200px;
}

@mixin form-label {
  padding-right: 10px;
  padding-left: 5px;
  margin: $form-element-margin;
  font-weight: 700;
  font-size: 16px;
}

// END FORM MIXINS

// START BUTTON MIXINS

@mixin primary-button {
  font-size: $primary-button-font-size;
  padding: $primary-button-padding;
  color: $primary-button-color;
  border: $primary-button-border;
  border-radius: $primary-button-border-radius;
  cursor: $primary-button-cursor;
  background: $primary-button-background;
  box-shadow: $primary-button-box-shadow;
  line-height: 27px;

  &:hover {
    background: $primary-button-hover-background;
    color: $primary-button-hover-color;
  }
}

//END BUTTON MIXINS

// START NAV MIXINS

@mixin nav-link {
  margin-right: 20px;
  padding: 5px 0;
  position: relative;
  font-size: 18px;

  &:hover {
    cursor: pointer;
    border-bottom: 4px solid $bright-teal;
  }
}

// END NAV MIXINS

// START TYPOGRAPHY MIXINS

@mixin main-section-title {
  font-size: $main-section-title-font-size-mobile;
  font-weight: $main-section-title-font-weight;
  color: var(--text-color);
  text-align: center;
  padding-bottom: 20px;

  @media screen and (min-width: $media-breakpoint-medium) {
    font-size: $main-section-title-font-size;
    text-align: left;
  }
}

@mixin heading-3 {
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  padding: 10px 0;
}

@mixin heading-4 {
  font-size: 18px;
  text-align: left;
  padding: 10px 0;
}

@mixin widget-no-data-message {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  max-width: 300px;
}

// END TYPOGRAPHY MIXINS
