$blue-grey: #f6fafb;
$light-cyan: #c8e1ea;
$teal: #0388a6;
$bright-teal: #69e1fc;
$dark-blue: #223945;
$deep-night: #111c22;
$midnight-void: #0a1114;
$white: #fff;
$grey: #dddddd;
$accessible-grey: #525252;
$black: #000;

$accent-color: $dark-blue;
$primary-color-light: $light-cyan;
$primary-color-dark: $midnight-void;
$background-color-light: $white;
$background-color-dark: $black;
$section-background-light: $white;
$section-background-dark: $midnight-void;
$text-color-light: $black;
$text-color-dark: $white;
$cursor-background-color-light: $light-cyan;
$cursor-background-color-dark: #fff;

:root {
  --primary-color: #{$primary-color-light};
  --canvas-background-color: #{$white};
  --background-color: #{$background-color-light};
  --section-background: #{$section-background-light};
  --text-color: #{$text-color-light};
  --input-background-color: #{$white};
  --input-border-color: #{$grey};
  --input-placeholder-color: #{$accessible-grey};
  --border-color: #{$black};
  --cursor-background-color: #{$cursor-background-color-light};
}

.darkMode {
  --primary-color: #{$primary-color-dark};
  --canvas-background-color: #{$midnight-void};
  --background-color: #{$background-color-dark};
  --section-background: #{$section-background-dark};
  --text-color: #{$text-color-dark};
  --input-background-color: #{$midnight-void};
  --input-border-color: #{$dark-blue};
  --input-placeholder-color: #{$light-cyan};
  --border-color: #{$white};
  --cursor-background-color: #{$cursor-background-color-dark};
}

$common-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

$media-breakpoint-small: 576px;
$media-breakpoint-medium: 768px;
$media-breakpoint-large: 992px;
$media-breakpoint-extra-large: 1200px;

$layout-padding: 20px;
$form-element-margin: 5px 5px 5px 0;

$input-border: 1px solid var(--input-border-color);
$input-margin: 5px;
$input-padding: 10px;
$input-border-radius: 5px;
$input-height: 40px;
$input-placeholder-color: var(--input-placeholder-color);

$primary-button-font-size: 18px;
$primary-button-padding: 5px 25px;
$primary-button-color: $white;
$primary-button-border: none;
$primary-button-border-radius: 20px;
$primary-button-cursor: pointer;
$primary-button-background: linear-gradient(
  to bottom right,
  #3b6378,
  #335567,
  $accent-color
);
$primary-button-box-shadow: $common-box-shadow;
$primary-button-hover-background: $white;
$primary-button-hover-color: $black;

$main-section-title-font-size-mobile: 28px;
$main-section-title-font-size: 30px;
$main-section-title-font-weight: 700;
$main-section-title-color: $black;
$main-section-border-radius: 10px;
$main-section-box-shadow: $common-box-shadow;
$main-section-info-padding: 0 10px 10px;
$main-section-info-padding-desktop: 0 20px 20px;
