@use "../../styles/abstracts/" as *;

.homeContainer {
  padding-top: 214px;

  @media screen and (min-width: $media-breakpoint-medium) {
    padding-top: 120px;
  }
}

.sectionTitle {
  @include main-section-title;

  & {
    padding: 20px;
  }
}

.introSectionContainer {
  width: 100%;
  background-color: var(--background-color);
  position: relative;
  z-index: 1;
}

.introSectionContainerInner {
  @include main-section-container;

  & {
    padding-top: 0;
  }

  @media screen and (min-width: $media-breakpoint-medium) {
    padding-top: 0;
  }
}

.introContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  background-color: var(--section-background);
  box-shadow: $main-section-box-shadow;
  border-radius: $main-section-border-radius;
  padding: 20px;
  position: relative;
  z-index: 2;
  min-height: 480px;

  @media screen and (min-width: $media-breakpoint-large) {
    flex-direction: row;
  }
}

.introText {
  padding: 50px 0;
  margin: 0 auto;
  min-width: 300px;
  flex: 1 50%;
  display: flex;
  align-items: center;

  .link {
    font-weight: 700;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  @media screen and (min-width: $media-breakpoint-medium) {
    max-width: 650px;
    min-width: 400px;
    padding: 50px 30px;
  }
}

.introImgContainer {
  height: auto;
  width: 100%;
  margin: 0 auto;
  flex: 1 50%;
  overflow: hidden;

  @media screen and (min-width: $media-breakpoint-medium) {
    max-width: 600px;
  }
}

.introImg {
  object-fit: cover;
  border-radius: 10px;

  @media screen and (min-width: $media-breakpoint-medium) {
    min-height: 500px;
  }
}

.scrollButtonContainer {
  opacity: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 25px;
  z-index: 10;
}

.scrollToTopButton {
  svg {
    height: 25px;
    width: auto;
  }
}
