@use "../../../styles/abstracts/" as *;

.iconButton {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    svg {
      fill: $accent-color;
    }
  }
}
