@use "../../../../styles/abstracts/" as *;

.titleContainer {
  background-color: var(--primary-color);
  padding: 140px 0 260px;
  position: relative;
  display: flex;
  overflow: hidden;
  @media (pointer: fine) {
    cursor: none;
  }
}

.cursor {
  display: none;

  @media (pointer: fine) {
    display: block;
    height: 75px;
    width: 75px;
    border: 4px dotted orangered;
    padding: 5px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    will-change: transform;
    mix-blend-mode: difference;
  }
}

.sectionTitle {
  @include main-section-title;
  display: inline-block;
  width: 100%;
  min-height: 55px;
  padding-bottom: 20px;

  @media screen and (min-width: $media-breakpoint-medium) {
    height: auto;
    text-align: left;
  }
}

.titleContainerContent {
  max-width: 700px;
  width: 100%;
  padding-bottom: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  flex: 1 1 auto;
  padding: 20px 20px 50px 20px;

  @media screen and (min-width: $media-breakpoint-medium) {
    align-items: flex-start;
    padding: 50px;
  }
}

.titleContainerTop,
.titleContainerBottom {
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: var(--canvas-background-color);
  opacity: 0.95;
}

.titleContainerTop {
  height: 120px;
  top: 0;
  border-bottom: 2px solid #0388a6;
}

.titleContainerBottom {
  height: 150px;
  bottom: -60px;
  border-top: 2px solid #0388a6;
}

.titleContainerInfo {
  display: inline-block;
  width: 100%;
  min-height: 43px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $media-breakpoint-medium) {
    white-space: nowrap;
    font-size: 22px;
    justify-content: flex-start;
  }
}

.titleContainerEmphasis {
  background-color: #69e1fc;
  color: $black;
  max-width: fit-content;
  padding: 0 10px;
}

.skillsContainer {
  display: flex;
  align-items: center;
  white-space: nowrap;

  .titleContainerInfo {
    padding: 5px 10px 5px 0;
  }
}

.introContainer {
  @include layout-container(0);

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media screen and (min-width: $media-breakpoint-medium) {
    flex-direction: row;
  }
}

.profileImgContainer {
  background-color: #0388a6;
  position: relative;
  height: 150px;
  width: 100%;
  margin: 50px auto;
}

.profileImg {
  height: 210px;
  width: auto;
  cursor: none;
  border: 2px solid var(--border-color);
  border-color: #034554;
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 50%;
  display: block;
  padding: 10px 10px 0 10px;
  transform: translateX(-50%);
}
