@use "../../../../styles/abstracts/" as *;

.titleContainer {
  background-color: var(--primary-color);
  padding: 20px 0 50px;
  position: relative;
  display: flex;
  justify-content: center;
  @media (pointer: fine) {
    cursor: none;
  }
}

.cursor {
  display: none;

  @media (pointer: fine) {
    display: block;
    background-color: black;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    will-change: transform;
    mix-blend-mode: difference;
  }
}

.sectionTitle {
  @include main-section-title;

  & {
    padding: 0 20px;
  }
}

.titleContainerContent {
  @include layout-container(0);
  padding-bottom: 0;

  margin: 20px 0 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media screen and (min-width: $media-breakpoint-large) {
    flex-direction: row;
    padding-bottom: 20px;
  }
}

.handWaveOutline {
  height: 40px;
  width: 40px;
  margin-top: 20px;

  @media screen and (min-width: $media-breakpoint-large) {
    margin: 0;
  }
}

.titleContainerBottom {
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-color: var(--background-color);
}
