@use "../../../../styles/abstracts/" as *;

.titleContainer {
  background-color: var(--primary-color);
  padding: 100px 0 100px;
  position: relative;
  display: flex;
  // justify-content: center;
  @media (pointer: fine) {
    cursor: none;
  }
}

.cursor {
  display: none;

  @media (pointer: fine) {
    display: block;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    will-change: transform;
    mix-blend-mode: difference;
  }
}

.sectionTitle {
  @include main-section-title;
  display: inline-block;
  width: 100%;
  text-align: left;
  min-height: 55px;
  padding-bottom: 20;

  @media screen and (min-width: $media-breakpoint-medium) {
    height: auto;
  }
}

.titleContainerContent {
  @include layout-container(0);
  width: 100%;
  padding-bottom: 0;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 20px;

  @media screen and (min-width: $media-breakpoint-large) {
    padding: 20px 40px 20px 40px;
    padding-bottom: 20px;
  }
}

.handWaveOutline {
  height: 40px;
  width: 40px;
  margin-top: 20px;

  @media screen and (min-width: $media-breakpoint-large) {
    margin: 0;
  }
}

.titleContainerTop {
  height: 60px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: var(--background-color);
}

.titleContainerBottom {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-color: var(--background-color);
}

.smiley {
  height: 45px;
  width: auto;
  margin: 5px 0;
}

.titleContainerInfo {
  display: inline-block;
  width: 100%;
  text-align: left;
  min-height: 36px;
  font-size: 22px;
  white-space: nowrap;
}

.skillsContainer {
  display: flex;
}

.titleContainerSkills {
  color: var(--secondary-accent-color);
  border-bottom: 2px solid var(--secondary-accent-color);
  display: inline-block;
  white-space: nowrap;
  min-height: auto;
  margin-left: 10px;
  font-weight: 600;
}
