@use "../../../styles/abstracts/" as *;

.aboutSubsection {
  @include subsection;
}

.backgroundContainer {
  display: flex;
  flex-wrap: wrap;

  h3 {
    flex-basis: 100%;
    padding-bottom: 20px;
  }
}
