@use "../../../styles/abstracts/" as *;

.mainSectionTitleContianer {
  padding: 30px 0;
}

.sectionTitle {
  @include main-section-title;
  & {
    background-color: $light-cyan;
    padding-top: 20px;
  }
}
